@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-base: #403040;
    --color-primary: #ffe88a;
    --color-secondary: #bbef55;
    --color-background: #ffffff;
    --color-surface: #f6f2f0;

    color: var(--color-base);
    background: var(--color-background);
  }

  :focus {
    outline: none;
  }
}
